.carousel_container {
  width: 600px;
  margin: auto;
  margin-top: 2rem;
}

.carousel_inner_container {
  position: relative;
}

.carousels_buttons.prev {
  position: absolute;
}

.carousel_btn {
  height: 40px;
  width: 40px;
  background-color: lightgrey;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;

  position: absolute;
}

/* buttons */
.bottom_buttons_box {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  position: absolute;
  bottom: 1%;
}

.bottom_button {
  background-color: #fff;
  width: 25px;
  height: 10px;
  border: 1px solid #000;
  cursor: pointer;
  border-radius: 1rem;
}
